@import "./utils/reset";
@import "./utils/variables";
html {
    scrollbar-color: rgb(209, 138, 6) rgb(3, 3, 3);
}
body {
    font-family: "Source Serif 4", sans-serif;
    background-color: rgb(2, 2, 2);
}
.page__container {
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    .video__container {
        position: fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -20;
    }
    .navigation {
        display: flex;
        align-items: center;
        margin-top: 40px;
        // background: red;
        justify-content: space-between;
        .logo__container {
            // background: blue;
            display: flex;

            justify-content: center;
            z-index: 10;
            h4 {
                font-size: 30px;
                color: azure;
            }
            .S {
                font-weight: bold;
                color: azure;
            }
            .s {
                color: rgb(209, 138, 6);
            }
        }
        ul {
            // background: yellow;
            display: flex;
            margin-right: 5%;

            justify-content: space-around;
            li {
                padding: 15px;
                margin-left: 10em;
                // background: blue;
                width: max-content;
                a {
                    text-decoration: none;
                    color: rgb(209, 138, 6);
                    position: relative;
                    &::before {
                        content: " ";
                        position: absolute;
                        top: 25px;
                        width: 100%;
                        border-bottom: 3px solid rgb(209, 138, 6);
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.3s ease;
                    }
                    &:hover {
                        &::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
    .section {
        margin-top: 15%;
        width: 100%;
        z-index: 10;
        color: white;
        h1 {
            font-size: 64px;
            text-align: center;
            margin-bottom: 14%;
        }
        p {
            font-size: 24px;
            line-height: 2;
            margin-bottom: 5%;
        }
    }
}
