html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scrollbar-color: #d18a06 #030303;
}

body {
  font-family: "Source Serif 4", sans-serif;
  background-color: #020202;
}

.page__container {
  margin: auto;
  max-width: 1440px;
  height: 100vh;
  position: relative;
}

.page__container .video__container {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -20;
}

.page__container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__container .navigation .logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.page__container .navigation .logo__container h4 {
  font-size: 30px;
  color: azure;
}

.page__container .navigation .logo__container .S {
  font-weight: bold;
  color: azure;
}

.page__container .navigation .logo__container .s {
  color: #d18a06;
}

.page__container .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page__container .navigation ul li {
  padding: 15px;
  margin-left: 10em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page__container .navigation ul li a {
  text-decoration: none;
  color: #d18a06;
  position: relative;
}

.page__container .navigation ul li a::before {
  content: " ";
  position: absolute;
  top: 25px;
  width: 100%;
  border-bottom: 3px solid #d18a06;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.page__container .navigation ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.page__container .section {
  margin-top: 15%;
  width: 100%;
  z-index: 10;
  color: white;
}

.page__container .section h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 14%;
}

.page__container .section p {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 5%;
}
/*# sourceMappingURL=index.css.map */